@model THe_BOok_MArket.Models.Book_Supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book_Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookSupplier_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookSupplier_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookSupplier_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookSupplier_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookSupplier_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
