@model IEnumerable<THe_BOok_MArket.Models.Book_Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookSupplier_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookSupplier_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookSupplier_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookSupplier_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookSupplier_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookSupplier_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookSupplier_ID })
        </td>
    </tr>
}

</table>
